body {
	background-color:#cccccc;
}

#topLeftImage {
	position:absolute;
	top:166px;
	left:190px;
}

.feedbackTopLeft {
	position:absolute;
	top:225px;
	left:290px;
}

#topRightImage {
	position:absolute;
	top:166px;
	left:437px;
}

.feedbackTopRight {
	position:absolute;
	top:225px;
	left:537px;
}

#bottomLeftImage {
	position:absolute;
	top:394px;
	left:190px;	
}

.feedbackBottomLeft {
	position:absolute;
	top:464px;
	left:290px;	
}

#bottomRightImage {
	position:absolute;
	top:394px;
	left:437px;	
}

.feedbackBottomRight {
	position:absolute;
	top:464px;
	left:537px;	
}

.feedbackPicture {
	visibility:hidden;
}

#backgroundImage {
	position:absolute;
	top: 30px;
	left: 30px;
	z-index:-1;
}

#replayButton {
	position:absolute;
	top:85px;
	left:515px;
}

#nextLevelLink {
	text-align:right;
}

#rosettaText {
	font-family:"Trebuchet MS";
	position: absolute;
	top: 70px;
	left:320px;
}
