body {
	background-image:url('pictures/2nBGT.png');
	background-repeat:no-repeat;
	background-color:#cccccc;
	background-position:center top;
}

#topLeftImage {
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:100px;
}

#topRightImage {
	position:relative;
	top:100px;
}

#bottomLeftImage {
	position:relative;
	top:300px;	
}

#bottomRightImage {
	position:relative;
	top:300px;	
}

#rosettaText {
	font-family:"Trebuchet MS"
}
